---
title: 'Live API：'
parent: 'Working with the Live API'
description: References for the Live API.
---
 <h1>参照このページは移動しました。3 <a href="https://apis.support.brightcove.com/live-api/references/index.html"></a>秒後に新しい場所に移動します。ブックマークを更新してください！</h1>
<script type="text/javascript">
var t = setTimeout (関数 () { window.location.href = 'https://apis.support.brightcove.com/live-api/references/index.html'; } , 3000);
</script>
<style>
  .card-wrapper { justify-content: start; } .bcls-card h2 { font-size: 1rem; } .bcls-card ul { margin-left: -2.4em; }
</style>
<article class="bcls-article">
  <h1>{{ page.title }}</h1>
  <summary>{{ page.description }}</summary>
  <section class="card-wrapper">
    <section class="bcls-card">
      <div class="card-content">
        <h2 id="Topics_in_this_section">のトピック{{ page.title }}</h2>
        <ul>
          {% for item in site.data.navigation %} {% if item.name == page.parent %} {% for entry in item.docs %} {% if entry.name == page.title %} {% for doc in entry.docs %}
          <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
          {% endfor %} {% endif %} {% endfor %} {% endif %} {% endfor %}
        </ul>
      </div>
    </section>
  </section>
</article>