<footer class="bcls-footer" role="contentinfo">
  <div class="row">
    <div class="region region-footer-top-center col-md-12">
      <nav role="navigation" aria-labelledby="block-brightcovesupport-menu" id="block-brightcovesupport" class="footer-menu">
        <img src="https://support.brightcove.com/site-assets/images/site/SVG/COVE004_Brightcove_Logo_093020_RGB_KO.svg" class="bc-footer-logo" alt="Brightcove">

        <h2>ブライトコーブのサポート</h2>

        <ul class="menu">
          <li>
            <a href="https://status.brightcove.com">システムステータス</a>
          </li>
          <li>
            <a href="https://supportportal.brightcove.com/s/login/?">サポートへのお問い合わせ</a>
          </li>
          <li>
            <a href="https://support.brightcove.com/">ドキュメンテーション</a>
          </li>
        </ul>

      </nav>
      <nav role="navigation" aria-labelledby="block-training-menu" id="block-training" class="footer-menu">

        <h2>トレーニング</h2>

        <ul class="menu">
          <li>
            <a href="https://studio.support.brightcove.com/training/online-training-courses.html">オンラインコース</a>
          </li>
          <li>
            <a href="https://studio.support.brightcove.com/training/register-training.html">コースに登録する</a>
          </li>
          <li>
            <a href="https://university.brightcove.com/">ブライトコーブ大学</a>
          </li>
        </ul>

      </nav>
      <nav role="navigation" aria-labelledby="block-brightcove-menu" class="footer-menu">

        <h2>ブライトコーブ</h2>

        <ul class="menu">
          <li>
            <a href="https://www.brightcove.com">Brightcove.com</a>
          </li>
          <li>
            <a href="https://supportportal.brightcove.com/s/login/?">お問合せ</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="region region-footer-bottom-center col-md-12">
      <div class="bcls-copyright footer-menu">
        <table>
          <tr>
            <td>
              <div id="bc_copyright" class="field field--name-field-copyright-year field--type-string field--label-hidden field--item" style="float: left;"> ブライトコーブ Inc. すべての権利を保有</div>
            </td>
            <td><a href="https://www.brightcove.com/en/legal/privacy">プライバシー</a> | <a href="https://www.brightcove.com/en/terms-and-conditions">利用規約</a></td>
            <td>
              <div class="gf-links-cols footer-menu">
                <div class="gf-social"><a href="https://www.linkedin.com/company/16439" title="LinkedIn" newtab="newtab" class="gf-social-linkedin" style="margin-right: 1rem;"><i data-feather="linkedin" style="color:#8E9093;height: 1.25rem;"></i></a><a href="https://twitter.com/brightcove" title="Twitter" newtab="newtab" class="gf-social-twitter" style="margin-right: 1rem;"><i data-feather="twitter" style="color:#8E9093;height: 1.25rem;"></i></a><a href="https://www.facebook.com/Brightcove" title="Facebook" newtab="newtab" class="gf-social-facebook"><i data-feather="facebook" style="color:#8E9093;height: 1.25rem;"></i></a>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</footer>

<script translate="no">
      
  var searchBox = sajari.init({
    mode: "search-box",
    project: "1588255093746585379", // Set this to your project.
    collection: "brightcove-documenation", // Set this to your collection.
    instantPipeline: "autocomplete", // Pipeline used as you type
    inputPlaceholder: "Search", // Input element placeholder
    maxSuggestions: 5, // Maximum number of suggestions to show
    attachSearchBox: document.getElementById("nav-search-box") // DOM element to attach to
  });
  
    searchBox("sub", "pipeline.search-sent", function (_, query) {
      window.location = "/search.html?q=" + encodeURIComponent(query.q);
    });
  

</script>