---
title: Live APIコードサンプル
description: Live APIコードサンプル。
parent: 'Working with the Live API'
---
 <h1>このページは移動しました。3 <a href="https://apis.support.brightcove.com/live-api/code-samples/index.html"></a>秒後に新しい場所に移動します。ブックマークを更新してください！</h1>
<script type="text/javascript">
var t = setTimeout (関数 () { window.location.href = 'https://apis.support.brightcove.com/live-api/code-samples/index.html'; } , 3000);
</script>
<h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>

  <section class="card-wrapper">
    <section class="bcls-card">
      <div class="card-content">
        <h2 id="Topics_in_this_section">このセクションのトピック</h2>
        <ul>
          {% for item in site.data.navigation %} {% if item.name == page.title %} {% for entry in item.docs %}
          <li><a href="{{ entry.url }}">{{ entry.name }}</a> {% if entry.docs %}
            <ul>
              {% for subentry in entry.docs %}
              <li><a href="{{ subentry.url }}">{{ subentry.name }}</a></li>
              {% endfor %}
            </ul>
            {% endif %} </li>
          {% endfor %} {% endif %} {% endfor %}
        </ul>
      </div>
    </section>
  </section>
</article>