openapi: 3.0.0
info:
  title: Live API Reference
  description: |-
    Reference for the Brightcove Live API, used to create and manage live streaming events.

    For additional in-depth guides to features of the API, see the **[Support Site](/)**.

    **Base URL**: https://api.bcovlive.io/v1
  version: 1.0.0
servers:
  - url: 'https://api.bcovlive.io/v1'
    variables: {}
tags:
  - name: Live Jobs
    description: |-
      Operations for creating live jobs, listing live jobs, getting job details, and canceling live jobs. There are also operations for activating and deactivating SEP jobs, and for inserting cuepoints or ID3 timed metadata.
  - name: Redundant Groups
    description: >-
      Operations for creating redundant groups of live jobs for failover in case one stream fails
  - name: RTMP Outputs
    description: >-
      Operations for creating and managing RTMP outputs. Note that RTMP output hours will be billed against event hours.
  - name: Clips
    description: >-
      Operations for creating and managing VOD clips
  - name: SSAI
    description: Operations for managing server-side ad insertion with live streams.
  - name: Credentials
    description: Operations for creating and managing credentials for secure destinations.
paths:
  /jobs:
    post:
      tags:
        - Live Jobs
      summary: Create a Live Job
      description: 'Create a live streaming job'
      operationId: CreateALiveJob
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      requestBody:
        description: Create a live stream
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLiveJobRequestBody'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveJob'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    get:
      tags:
        - Live Jobs
      summary: List Live Jobs
      description: >-
        'List live jobs - for additional useful information on the search filters, see [Getting a List of Live or VOD
        Jobs](/live-api/guides/getting-list-live-or-vod-jobs.html)'
      operationId: ListLiveJobs
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
        - $ref: '#/components/parameters/start_token'
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/sort_dir'
        - $ref: '#/components/parameters/user_id'
        - $ref: '#/components/parameters/account_id'
        - $ref: '#/components/parameters/created_at'
        - $ref: '#/components/parameters/modified_at'
        - $ref: '#/components/parameters/ad_insertion'
        - $ref: '#/components/parameters/static'
        - $ref: '#/components/parameters/state'
        - $ref: '#/components/parameters/ssai_state'
        - $ref: '#/components/parameters/region'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLiveJobsResponse'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/jobs/{job_id}':
    get:
      tags:
        - Live Jobs
      summary: Get Live Job Details
      description: Get Live Job Details
      operationId: GetLiveJobDetails
      parameters:
        - $ref: '#/components/parameters/JobId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested - see Live API Error Messages for more details
        '500':
          description: >-
             INTERNAL_SERVER_ERROR: see Live API Error Messages for more details
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/jobs/{job_id}/playback-token':
    post:
      tags:
        - Live Jobs
      summary: Create Playback Token
      description: |-
        Live jobs created via the Live module in Studio (or by specifying `videocloud.video` when creating a job directly through the API) automatically create a special Video Cloud video that, when used in a Brightcove player, makes use of the `ad_config_id` property to select the specific source desired (i.e. SSAI source, DVR/no DVR, BYOCDN). Jobs which have SSAI enabled must always provide an `ad_config_id` in the player, even if the source desired is non-SSAI (this prevents an end user from omitting the `ad_config_id` and receiving a clear stream). **This applies only to live Video Cloud videos created via the Live module or Live API - manually created Video Cloud remote assets have no such restriction.**

        The request returns a generated `ad_config_id`.

        This behavior is handled automatically when you publish a live video from the Live module publishing screen, but may be useful if you have a custom workflow.
      operationId: CreatePlaybackToken
      parameters:
        - $ref: '#/components/parameters/JobId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      requestBody:
        description: Create a Playback Token
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlaybackTokenRequestBody'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaybackToken'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested - see Live API Error Messages for more details
        '500':
          description: >-
             INTERNAL_SERVER_ERROR: see Live API Error Messages for more details
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/jobs/{job_id}/activate':
    put:
      tags:
        - Live Jobs
      summary: Activate SEP Stream
      description: Activate SEP (static entry point) Stream
      operationId: ActivateSepStream
      parameters:
        - $ref: '#/components/parameters/JobId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivateSepStreamResponse'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested - see Live API Error Messages for more details
        '500':
          description: >-
            INTERNAL_SERVER_ERROR: see Live API Error Messages for more details
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/jobs/{job_id}/deactivate':
    put:
      tags:
        - Live Jobs
      summary: Deactivate SEP Stream
      description: 'Deactivate SEP (static entry point) Stream '
      operationId: DeactivateSepStream
      parameters:
        - $ref: '#/components/parameters/JobId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeactivateSepStreamResponse'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested - see Live API Error Messages for more details
        '500':
          description: >-
            INTERNAL_SERVER_ERROR: see Live API Error Messages for more details
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/jobs/{job_id}/cuepoint':
    post:
      tags:
        - Live Jobs
      summary: Manual Cue Point Insertion
      description: >-
        Inserts a manual Cue-Out with a duration to the Live ingest point.
      operationId: ManualAdCuePointInsertion
      parameters:
        - $ref: '#/components/parameters/JobId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      requestBody:
        description: Inserts a manual Cue-Out with a duration to the Live ingest point.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManualAdCuePointInsertionbody'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManualAdCuePointInsertionResponse'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested - see Live API Error Messages for more details
        '500':
          description: >-
            INTERNAL_SERVER_ERROR: DB getItem, no results found - see Live API Error Messages for more details
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/jobs/{job_id}/cuepointdata':
    post:
      tags:
        - Live Jobs
      summary: Add or update Ad Metadata
      description: >-
        Allows  content metadata to be pushed and constantly updated out-of-band from a customer live stream..
      operationId: AddAdMetadata
      parameters:
        - $ref: '#/components/parameters/JobId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      requestBody:
        description: Contains a set of key/value pairs for ad requests.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAdMetadatabody'
        required: true
      responses:
        '200':
          description: '200'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested - see Live API Error Messages for more details
        '500':
          description: >-
            INTERNAL_SERVER_ERROR: DB getItem, no results found - see Live API Error Messages for more details
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - Live Jobs
      summary: Delete Ad Metadata
      description: >-
        Deletes ad metadata from a customer live stream..
      operationId: DeleteAdMetadata
      parameters:
        - $ref: '#/components/parameters/JobId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '204':
          description: '204 NO CONTENT'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested - see Live API Error Messages for more details
        '500':
          description: >-
            INTERNAL_SERVER_ERROR: DB getItem, no results found - see Live API Error Messages for more details
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/jobs/{job_id}/id3tag':
    post:
      tags:
        - Live Jobs
      summary: Insert ID3 Timed Metadata
      description: >-
        Inserts an ID3 timed metadata tag for an ongoing job. Note that: 1) If
        using timecode property, the job only stores the most recent request for
        insertion; 2) If using timecode property, the encoder must be sending
        SMPTE-formatted (HH:MM:SS:FF) timecode stored in the tc property via
        OnFI
      operationId: InsertId3TimedMetadata
      parameters:
        - $ref: '#/components/parameters/JobId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      requestBody:
        description: |-
          'Inserts an ID3 timed metadata tag for an ongoing job. Note that:
            1. If using timecode property, the job only stores the most recent request for insertion
            2. If using timecode property, the encoder must be sending SMPTE-formatted (HH:MM:SS:FF) timecode stored in the tc property via OnFI'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsertId3TimedMetadatabody'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsertId3TimedMetadataResponse'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested - see Live API Error Messages for more details
        '500':
          description: >-
            INTERNAL_SERVER_ERROR: see Live API Error Messages for more details
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/jobs/{job_id}/cancel':
    put:
      tags:
        - Live Jobs
      summary: Cancel Live Job
      description: >-
         Cancel a live stream. When a live job is cancelled, it is ended, and any unprocessed VOD jobs associated with the live job will **not** be processed.
      operationId: CancelLiveJob
      parameters:
        - $ref: '#/components/parameters/JobId'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelLiveJob'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/jobs/{job_id}/stop':
    put:
      tags:
        - Live Jobs
      summary: Stop Live Job
      description: >-
        Stop a live job. When a live job is stopped (as opposed to cancelled), the live stream will stop, but any VOD jobs associated with the live job **will** continue to process.
      operationId: StopLiveJob
      parameters:
        - $ref: '#/components/parameters/JobId'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopLiveJob'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested - see Live API Error Messages for more details
        '500':
          description: >-
            INTERNAL_SERVER_ERROR: see Live API Error Messages for more details
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/jobs/{job_id}/rtmpouts':
    get:
      tags:
        - RTMP Outputs
      summary: List RTMP Outputs
      description: >-
        Get a list of RTMP outputs. See [Live API: RTMP Outputs](/live-api/guides/live-api-rtmp-outputs.html) for more information on RTMP outputs.
      operationId: GetRTMPOutputs
      parameters:
        - $ref: '#/components/parameters/JobId'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRTMPOutputs'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested - see Live API Error Messages for more details
        '500':
          description: >-
            INTERNAL_SERVER_ERROR: see Live API Error Messages for more details
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      tags:
        - RTMP Outputs
      summary: Create RTMP Output
      description: >-
        Create an RTMP output. See [Live API: RTMP Outputs](/live-api/guides/live-api-rtmp-outputs.html) for more information on RTMP outputs.
      operationId: CreateRTMPOutput
      parameters:
        - $ref: '#/components/parameters/JobId'
        - $ref: '#/components/parameters/XAPIKEY'
      requestBody:
        description: Create an RTMP output request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRTMPOutputRequestBody'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRTMPOutputResponse'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested - see Live API Error Messages for more details
        '500':
          description: >-
            INTERNAL_SERVER_ERROR: see Live API Error Messages for more details
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/jobs/{job_id}/rtmpouts/{rtmp_out_id}/stop':
    put:
      tags:
        - RTMP Outputs
      summary: Stop RTMP Output
      description: >-
        Stop an RTMP output. See [Live API: RTMP Outputs](/live-api/guides/live-api-rtmp-outputs.html) for more information on RTMP outputs.
      operationId: StopRTMPOutput
      parameters:
        - $ref: '#/components/parameters/JobId'
        - $ref: '#/components/parameters/XAPIKEY'
        - $ref: '#/components/parameters/rtmp_out_id'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopRTMPOutputResponse'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested - see Live API Error Messages for more details
        '500':
          description: >-
            INTERNAL_SERVER_ERROR: see Live API Error Messages for more details
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /redundantgroups:
    post:
      tags:
        - Redundant Groups
      summary: Create Redundant Group
      description: Creates a redundant group of live jobs to provide failover in case one stream fails
      operationId: CreateRedundantGroup
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      requestBody:
        description: Create a redundant group of multiple Live jobs
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRedundantGroup'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRedundantGroupResponse'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    get:
      tags:
        - Redundant Groups
      summary: Get Redundant Groups
      description: Get redundant groups for the account
      operationId: GetRedundantGroups
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
        - $ref: '#/components/parameters/RedundantGroupState'
        - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRedundantGroupResponse'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /redundantgroups/{redundant_group_id}/jobs:
    post:
      tags:
        - Redundant Groups
      summary: Add Jobs to Redundant Group
      description: Add Jobs to Redundant Group
      operationId: AddJobsRedundantGroup
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
        - $ref: '#/components/parameters/redundant_group_id'
      requestBody:
        description: Create a redundant group of multiple Live jobs
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddJobsRedundantGroupRequest'
        required: true
      responses:
        '200':
          description: A success response will just contain the group id
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /redundantgroups/{redundant_group_id}/jobs/{job_id}:
    delete:
      tags:
        - Redundant Groups
      summary: Remove a Job from Redundant Group
      description: >-
        Remove the specified Jobs from a Redundant Group; normally the operation will not remove the job that is currently `on_air`, but adding the `force=true` query parameter will remove it
      operationId: RemoveJobRedundantGroup
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
        - $ref: '#/components/parameters/redundant_group_id'
        - $ref: '#/components/parameters/JobId'
        - $ref: '#/components/parameters/force'
      responses:
        '204':
          description: 204 NO_CONTENT
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /redundantgroups/{redundant_group_id}:
    get:
      tags:
        - Redundant Groups
      summary: Get Redundant Group Status
      description: Get the current status of a redundant group
      operationId: GetStatusRedundantGroup
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
        - $ref: '#/components/parameters/redundant_group_id'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStatusRedundantGroupResponse'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - Redundant Groups
      summary: Delete a redundant group
      description: >-
        Deletes a redundant group and ends the redundant stream. Note that alternatively you can put the stream in standby mode by removing all jobs from it.
      operationId: DeleteRedundantGroup
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
        - $ref: '#/components/parameters/redundant_group_id'
        - $ref: '#/components/parameters/force'
      responses:
        '204':
          description: '204 NO_CONTENT'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /redundantgroups/{redundant_group_id}/switch:
    put:
      tags:
        - Redundant Groups
      summary: Force Redundant Stream Failover
      description: >-
        Force failover from the `on_air` stream to a specified secondary stream; note that you can also accomplish this by stopping the encoder for the `on_air` stream.
      operationId: ForceRedundantStreamFailover
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
        - $ref: '#/components/parameters/redundant_group_id'
        - $ref: '#/components/parameters/force'
      requestBody:
        description: Force failover to a secondary job
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForceRedundantStreamFailover'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID of the redundant group
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /redundantgroups/{redundant_group_id}/cuepoint:
    post:
      tags:
        - Redundant Groups
      summary: Insert cuepoint for redundant group
      description: >-
        Manually inserts a cuepoint for a redundant Live job.
      operationId: InsertCuepointRedundantGroup
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
        - $ref: '#/components/parameters/redundant_group_id'
      requestBody:
        description: Inserts a manual Cue-Out with a duration to the Live ingest point for the redundant group.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManualAdCuePointInsertionbody'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedundantGroupCuePointInsertionResponse'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /vods:
    post:
      tags:
        - Clips
      summary: Create VOD Clip
      description: 'Create VOD clips from a Live Stream. '
      operationId: CreateVodClip
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      requestBody:
        description: Create VOD clips from a Live Stream.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVodClipbody'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateVodJobResponse'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/vods/{jvod_id}':
    get:
      tags:
        - Clips
      summary: Get VOD Clip Job
      description: 'Get a VOD clip job by id. '
      operationId: GetVodClipJob
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
        - $ref: '#/components/parameters/jvod_id'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVodJob'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/jobs/{job_id}/vods':
    get:
      tags:
        - Clips
      summary: List VOD Clip Jobs
      description: >-
        List VOD clips for a Live Stream - for additional useful information on
        the search filters, see [Getting a List of Live or VOD
        Jobs](/live-api/guides/getting-list-live-or-vod-jobs.html)
      operationId: ListVodClips
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
        - $ref: '#/components/parameters/JobId'
        - $ref: '#/components/parameters/start_token'
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/sort_dir'
        - $ref: '#/components/parameters/user_id'
        - $ref: '#/components/parameters/account_id'
        - $ref: '#/components/parameters/created_at'
        - $ref: '#/components/parameters/modified_at'
        - $ref: '#/components/parameters/jvod_state'
        - $ref: '#/components/parameters/jvod_type'
        - $ref: '#/components/parameters/label'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVodJobs'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      tags:
        - Clips
      summary: 'Create VOD Clip (Alternate)'
      description: >-
        Create VOD clips from a Live Stream. This is operation is identical to
        the `POST` request to `/vods` - it is included for consistency, so that
        you can `GET` and `POST` requests to the same endpoint.
      operationId: CreateVodClipAlternate
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
        - $ref: '#/components/parameters/JobId'
      requestBody:
        description: Create VOD clips from a Live Stream.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVodClipbody'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VodJobs'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /ssai/applications:
    post:
      tags:
        - SSAI
      summary: Create Ad Configuration
      description: |-
       Create a configuration for server-side ad application.

       **Note: SSAI is supported for the following regions:**
          - us-west-2
          - us-east-1
          - ap-southeast-2
          - ap-northeast-1
          - ap-southeast-1
          - eu-central-1
      operationId: CreateAdConfiguration
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      requestBody:
        description: Create a configuration for server-side ad application.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdConfigurationbody'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    get:
      tags:
        - SSAI
      summary: Get Ad Configurations
      description: Get ad applications for the current user.
      operationId: GetuserAdConfigurations
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/ssai/applications/account/{live_account_id}':
    get:
      tags:
        - SSAI
      summary: Get Account Ad Configurations
      description: 'Get ad applications for an account. '
      operationId: GetAccountAdConfigurations
      parameters:
        - $ref: '#/components/parameters/live_account_id'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/ssai/applications/application/{application_id}':
    get:
      tags:
        - SSAI
      summary: Get Ad Configuration
      operationId: GetAdConfiguration
      description: Get an ad application.
      parameters:
        - $ref: '#/components/parameters/application_id'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    put:
      tags:
        - SSAI
      summary: Update Ad Configuration
      description: 'Update a configuration for server-side ad application. '
      operationId: UpdateAdConfiguration
      parameters:
        - $ref: '#/components/parameters/application_id'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      requestBody:
        description: Update a configuration for server-side ad application.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAdConfigurationbody'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - SSAI
      summary: Delete Ad Configuration
      description: 'Delete an ad application. '
      operationId: DeleteAdConfiguration
      parameters:
        - $ref: '#/components/parameters/application_id'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAdConfigurationResponse'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /ssai/beaconsets:
    post:
      tags:
        - SSAI
      summary: Create Beacon Set
      description: >-
        Beacons are data points on playback sent to ad servers to track whether
        and how much of ads were played. Creates a beacon set.
      operationId: CreateBeaconSet
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      requestBody:
        description: >-
          Beacons are data points on playback sent to ad servers to track
          whether and how much of ads were played. Creates a beacon set.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBeaconSetbody'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBeaconSetResponse'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    get:
      tags:
        - SSAI
      summary: Get Beacon Sets for User
      description: 'Get all beacon sets for the requesting user. '
      operationId: GetBeaconSetsForUser
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeaconSets'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /ssai/beaconsets/beaconset/{beacon_set_id}:
    put:
      tags:
        - SSAI
      summary: Update Beacon Set
      description: 'Updates a beacon set. '
      operationId: UpdateBeaconSet
      parameters:
        - $ref: '#/components/parameters/BeaconSetId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      requestBody:
        description: Updates a beacon set.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBeaconSetbody'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeaconSet'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - SSAI
      summary: Delete Beacon Set
      description: 'Deletes a beacon set. '
      operationId: DeleteBeaconSet
      parameters:
        - $ref: '#/components/parameters/BeaconSetId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBeaconSetResponse'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/ssai/beaconsets/account/{live_account_id}':
    get:
      tags:
        - SSAI
      summary: Get Beacon Sets
      description: 'Get all beacon sets for an account. '
      operationId: GetBeaconSets
      parameters:
        - $ref: '#/components/parameters/live_account_id'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeaconSet'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /ssai/slates:
    post:
      tags:
        - SSAI
      summary: Ingest Slate Media Source Asset
      description: 'Ingest Slate Media Source Asset. '
      operationId: IngestSlateMediaSourceAsset
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      requestBody:
        description: Ingest Slate Media Source Asset.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestSlateMediaSourceAssetbody'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestSlateMediaSourceAssetResponse'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    get:
      tags:
        - SSAI
      summary: Get User Slate Media Source Assets
      description: 'Get Slate Media Source Assets for the current user. '
      operationId: GetUserSlateMediaSourceAssets
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSlateMediaSourceAssetsResponse'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/ssai/slates/slate{slate_msa_id}':
    delete:
      tags:
        - SSAI
      summary: Delete Slate Media Source Asset
      description: 'Delete Slate Media Source Asset. '
      operationId: DeleteSlateMediaSourceAsset
      parameters:
        - $ref: '#/components/parameters/SlateMsaId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSlateMediaSourceAssetResponse'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/ssai/slates/account/{live_account_id}':
    get:
      tags:
        - SSAI
      summary: Get Slates for Account
      description: 'Get all beacon sets for an account. '
      operationId: GetSlatesForAccount
      parameters:
        - $ref: '#/components/parameters/live_account_id'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSlateMediaSourceAssetsResponse'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /credentials:
    get:
      tags:
        - Credentials
      summary: List Credentials
      description: >-
        This endpoint can be used to get user credentials for a given user
        provided one has an API key.
      operationId: ListCredentials
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCredentials'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      tags:
        - Credentials
      summary: Create Credential
      description: 'Create a new credential. '
      operationId: CreateCredential
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      requestBody:
        description: Create a new credential.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCredentialbody'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCredential'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/credentials/{credential_id}':
    put:
      tags:
        - Credentials
      summary: Update Credential
      description: 'Update a credential. '
      operationId: UpdateCredential
      parameters:
        - $ref: '#/components/parameters/CredentialId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      requestBody:
        description: Update a credential.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCredentialbody'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCredential'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - Credentials
      summary: Delete Credential
      description: 'Delete a credential. '
      operationId: DeleteCredential
      parameters:
        - $ref: '#/components/parameters/CredentialId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '204':
          description: 'NO_CONTENT: the credential was deleted'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
components:
  schemas:
    CreateRedundantGroup:
      title: Create Redundant Group Request Body
      properties:
        ad_insertion:
          type: boolean
          description: Set to true if this stream should be SSAI enabled
        add_cdns:
          description: >-
            Array of additional CDN providers to be used for manifest generation. For each CDN provided, the manifest will be prepended accordingly
          items:
            $ref: '#/components/schemas/CreateLiveJobRequestBody.addCdns'
          type: array
        drm:
          type: object
          description: Not yet supported
        encryption:
          type: object
          description: Not yet supported
        label:
          type: string
          description: A label to identify the group
        live_sliding_window_duration:
          default: 1800000
          description: >-
            The time, in seconds, to allow scrubbing back on the timeline.
          maximum: 86400000
          minimum: 0
          type: integer
        live_dvr_sliding_window_duration:
          default: 1800000
          description: >-
            The time, in seconds, to keep in the live DVR manifest. If the stream duration is longer than the window duration, segment references will be removed first in first out. **Note: for SSAI jobs, the limit is `7200`. If you do not want to be charged for DVR usage, set this to 0 in the request body.
          maximum: 86400000
          minimum: 0
          type: integer
        notifications:
          description: >-
            'Array of notification destination objects or strings - notifications defined here are for job-level events.  A notification will be sent to the destination when selected event occurs. You can use a simple string with a url: &quot;http://log:pass@httpbin.org/post&quot;, or you can use an object. See [Events](/live-api/guides/live-api-notifications.htmls#Events) for an explanation of the events reported in `state_changed` notifications. <br> Retry strategy: In the event of a failed request to send a notification, the default retry strategy is to retry 50 times with an exponential delay between attempts: <br> `max_retry_times = 50` <br> `delay_delta_s = 5` <br> `next_retry =
            now_s + retry_count * delay_delta_s`'
          items:
            oneOf:
              - $ref: '#/components/schemas/Notification'
              - type: string
                description: A URL to send notifications to
          type: array
        processing_regions:
          description: >-
            'Processing regions for the Redundant Group. This will determine which AWS regions will generate the manifests. Recommended this matches storage_regions and the regions the Live Jobs are created in.'
          type: array
          items:
            type: string
            properties:
              region:
                type: string
                description: An AWS region
                enum:
                  - us-west-2
                  - us-east-1
                  - ap-southeast-2
                  - ap-northeast-1
                  - ap-southeast-1
                  - ap-south-1
                  - eu-central-1
                  - eu-west-1
              probability:
                type: integer
                minimum: 0
                maximum: 1
                description: not used currently - should be set to 1
        storage_regions:
          description: >-
            'Storage regions media chunks and playlists will be uploaded to in S3. Recommended this matches processing_regions and the regions the Live Jobs are created in.'
          type: array
          items:
            type: string
            description: An AWS region
            enum:
              - us-west-2
              - us-east-1
              - ap-southeast-2
              - ap-northeast-1
              - ap-southeast-1
              - ap-south-1
              - eu-central-1
              - eu-west-1
        videocloud:
          $ref: '#/components/schemas/CreateLiveJobRequestBody.videocloud'
      required:
        - label
        - processing_regions
        - storage_regions
      example: {
          "ad_insertion": true,
          "processing_regions": ["us-west-2"],
          "storage_regions": ["us-west-2", "us-east-1"],
          "label": "Test RG",
          "live_dvr_sliding_window_duration": 1800
        }
    CreateRedundantGroupResponse:
      properties:
        id:
          type: string
          description: ID of the redundant group
        processing_regions:
          type: array
          description: The processing regions defined for the group
        storage_regions:
          type: array
          description: The storage regions defined for the group
        jobs:
          type: array
          description: Array of live job ids included in the group
        state:
          type: string
          description: The current state of the group
          enum:
            - CANCELLED
            - CANCELLING
            - DELETING
            - DISCONNECTED
            - FAILED
            - FINISHED
            - FINISHING
            - PROCESSING
            - STANDBY
            - WAITING
        live_dvr_sliding_window_duration:
          type: integer
          description: Duration of live DVR sliding window in seconds
        label:
          type: string
          description: The label for the group
        status:
          type: object
          description: >-
            The properties will be processing regions and the value their current status
        ad_insertion:
          type: boolean
          description: Whether this group is SSAI enabled
        outputs:
          type: object
          description: Outputs for the group
      example: {
          "id": "91c268a6ec5240d79a6004f4ccf0dc6f",
          "account_id": "a95ac581551b4478b27910e5675db1f8",
          "user_id": "c2691d4d039040be96c190a949d754a7",
          "processing_regions": [
            {
              "region": "us-west-2",
              "probability": 1
            }
          ],
          "storage_regions": [
            "us-west-2",
            "us-east-1"
          ],
          "jobs": [],
          "state": "standby",
          "label": "Test Redundant Group",
          "live_dvr_sliding_window_duration": 86400,
          "status": {
            "us-west-2": null
          },
          "outputs": {
            "playback_url": "https://bcovlive-a.akamaihd.net/r91c268a6ec5240d79a6004f4ccf0dc6f/us-west-2/NA/playlist.m3u8",
            "playback_url_dvr": "https://bcovlive-a.akamaihd.net/r91c268a6ec5240d79a6004f4ccf0dc6f/us-west-2/NA/playlist_dvr.m3u8"
          }
        }
    GetRedundantGroupResponse:
      properties:
        redundant_groups:
          type: array
          description: Array of redundant groups
          items:
            type: object
            properties:
              id:
                type: string
                description: ID of the redundant group
              account_id:
                type: string
                description: ID of the Live account
              processing_regions:
                type: array
                description: The processing regions defined for the group
              storage_regions:
                type: array
                description: The storage regions defined for the group
              jobs:
                type: array
                description: Array of live job ids included in the group
              state:
                type: string
                description: The current state of the group
                enum:
                  - cancelled
                  - cancelling
                  - deleting
                  - disconnected
                  - failed
                  - finished
                  - finishing
                  - processing
                  - standby
                  - waiting
              created_at:
                type: integer
                description: When the group was created in Epoch time
              updated_at:
                type: integer
                description: When the group was last updated in Epoch time
              live_dvr_sliding_window_duration:
                type: integer
                description: Duration of live DVR sliding window in seconds
              label:
                type: string
                description: The label for the group
              status:
                type: object
                description: >-
                  The properties will be processing regions and the value their current status
              ad_insertion:
                type: boolean
                description: Whether this group is SSAI enabled
              outputs:
                type: object
                description: Outputs for the group
                properties:
                  playback_url:
                    type: string
                    description: URL for playback
                  playback_url_dvr:
                    type: string
                    description: URL for playback with DVR
      example: {
        "redundant_groups": [
          {
            "id": "91c268a6ec5240d79a6004f4ccf0dc6f",
            "account_id": "a95ac581551b4478b27910e5675db1f8",
            "user_id": "c2691d4d039040be96c190a949d754a7",
            "processing_regions": [
              {
                "region": "us-west-2",
                "probability": 1
              }
            ],
            "storage_regions": [
              "us-west-2",
              "us-east-1"
            ],
            "jobs": [],
            "state": "standby",
            "created_at": 1594316624287,
            "updated_at": 1594316624287,
            "label": "Test Redundant Group",
            "live_dvr_sliding_window_duration": 86400,
            "status": {
              "us-west-2": null
            },
            "outputs": {
              "playback_url": "https://bcovlive-a.akamaihd.net/r91c268a6ec5240d79a6004f4ccf0dc6f/us-west-2/NA/playlist.m3u8",
              "playback_url_dvr": "https://bcovlive-a.akamaihd.net/r91c268a6ec5240d79a6004f4ccf0dc6f/us-west-2/NA/playlist_dvr.m3u8"
            }
          }
        ]
      }
    AddJobsRedundantGroupRequest:
      title: Add Jobs to a Redundant Group Request Body
      description: >-
        A set of job ids to add to a redundant group.
      type: array
      items:
        type: object
        properties:
          job_id:
            type: string
            description: >-
              A live job id - required unless you are removing all jobs
          playlist:
            type: string
            description: >-
              Label of playlist to use as the outputs for the stream. If `playlist` is defined, `streams` **must** be *undefined*.
          streams:
            type: array
            description: >-
              List of stream labels to be used as outputs for the stream. If `streams` is defined, `playlist` **must** be *undefined*.
            items:
              type: string
              description: A stream label
        required:
          - job_id
      example: [
          {
            "job_id": "0b76bc73f92f46dc917bbe5061c0c633"
          },
          {
            "job_id": "0ae5a4a71dc54b3181af0f98ee407c27"
          }
        ]
    GetStatusRedundantGroupResponse:
      title: Get Redundant Group Status Response
      type: object
      properties:
        id:
          type: string
          description: Redundant group ID
        processing_regions:
          type: array
          description: Processing regions for the group
          items:
            type: object
            properties:
              region:
                type: string
                description: an AWS region
              probability:
                type: number
                description: >-
                  Approximate percentage of playback that this region will process (from 0 to 1) - this field is not used yet
        storage_regions:
          type: array
          description: Storage regions for the group
          items:
            type: string
            description: AWS regions
        jobs:
          type: array
          description: Array of objects with properties for the jobs
          items:
            type: object
            properties:
              job_id:
                type: string
                description: Live job id
              streams:
                type: array
                items:
                  type: string
                  description: label for a job output
              state:
                type: string
                description: Current state of the job
        state:
          type: string
          description: Current state of the group
        created_at:
          type: number
          description: Date-time the group was created in Epoch time
        updated_at:
          type: number
          description: Date-time the group was last updated in Epoch time
        ad_insertion:
          type: boolean
          description: Whether SSAI is enabled
        outputs:
          type: object
          description: The output URLs
        status:
          type: object
          description: object containing the status for processing regions
          properties:
            SwitchDrift:
              type: number
              description: >-
                time in nanoseconds of "drift" that occurred in the stream after a failover happened (auto or manual). Failovers are only segment accurate, and since the input jobs are not synced, it is possible that some content may repeated/skipped when a failover occurs and the jobs are not segmented in sync.
            Ended:
              type: boolean
              description: >-
                When true, the stream has been ended and an `EXT-X-ENDLIST` tag has been added to the stream
            OnAir:
              type: string
              description: The on air job id
            Mode:
              type: string
              description: The failover mode, manual or auto
            InManifest:
              type: boolean
              description: Whether the current status has been added to the m3u8
            MediaSequence:
              type: number
              description: >-
                The media sequence number of the last chunk added to the stream
            Healthiness:
              type: number
              description: >-
                A computed number used mostly internally. If it goes to 0, the group is not being updated.
            Duration:
              type: integer
              description: >-
                Duration of the last chunk added to the stream.
            DiscontinuitySequence:
              type: integer
              description: >-
                Discontinuty Sequence of the last chunk added to the stream
            SourceChunk:
              type: object
              description: >-
                Source information of the last chunk added to the stream
            UpdatedAt:
              type: string
              description: Last updated to the redundant group
            ProgramDateTime:
              type: string
              description: >-
                The program date time of the last chunk added. to the stream;
      example: {
            "id": "481ff4cf0bf74956bc2ec6e126588080",
            "processing_regions": [
                {
                    "region": "us-west-2",
                    "probability": 1
                }
            ],
            "storage_regions": [
                "us-west-2",
                "us-east-1"
            ],
            "jobs": [
                {
                    "job_id": "0b76bc73f92f46dc917bbe5061c0c633",
                    "streams": [
                        "hls720p",
                        "hls540p",
                        "hls360p"
                    ],
                    "state": "processing"
                },
                {
                    "job_id": "0ae5a4a71dc54b3181af0f98ee407c27",
                    "streams": [
                        "hls720p",
                        "hls540p",
                        "hls360p"
                    ],
                    "state": "processing"
                }
            ],
            "state": "processing",
            "created_at": 1568057414849,
            "updated_at": 1568059153017,
            "label": "Test RG",
            "live_dvr_sliding_window_duration": 1800,
            "status": {
                "us-west-2": {
                    "SwitchDrift": 0,
                    "Ended": false,
                    "OnAir": "0b76bc73f92f46dc917bbe5061c0c633",
                    "Mode": "auto",
                    "InManifest": true,
                    "MediaSequence": 10,
                    "Healthiness": 0,
                    "Duration": 4,
                    "DiscontinuitySequence": 1,
                    "SourceChunk": {
                        "MediaSequence": 3639,
                        "Duration": 4,
                        "DiscontinuitySequence": 0,
                        "ProgramDateTime": "2019-09-09T19:59:36Z",
                        "LiveJobID": "0b76bc73f92f46dc917bbe5061c0c633"
                    },
                    "UpdatedAt": "2019-09-09T19:59:46Z",
                    "ProgramDateTime": "2019-09-09T19:59:36Z"
                }
            },
            "ad_insertion": true,
            "outputs": {
                "playback_url": "https://playback-qa.a-live.io/r481ff4cf0bf74956bc2ec6e126588080/us-west-2/NA/playlist.m3u8",
                "playback_url_dvr": "https://playback-qa.a-live.io/r481ff4cf0bf74956bc2ec6e126588080/us-west-2/NA/playlist_dvr.m3u8",
                "ssai_playback_urls": {
                    "26f8470f61374e608e27af9c1b3f7ff0": {
                        "playback_url": "https://playback-qa.a-live.io/r481ff4cf0bf74956bc2ec6e126588080/us-west-2/NA/26f8470f61374e608e27af9c1b3f7ff0/playlist_ssaiM.m3u8",
                        "playback_url_dvr": "https://playback-qa.a-live.io/r481ff4cf0bf74956bc2ec6e126588080/us-west-2/NA/26f8470f61374e608e27af9c1b3f7ff0/playlist_dvr_ssaiM.m3u8",
                        "description": "House Ads - 864b84f712ae40bca1510a8052b34312",
                        "type": "ads"
                    }
                }
            }
        }
    ForceRedundantStreamFailover:
      title: Force failover request body
      type: object
      properties:
        mode:
          type: string
          enum:
            - auto
            - manual
          default: auto
          description: >-
            The mode for failover. `manual` means automatic failover will **not** occur. To resume automatic failover, you must submit another request with `mode: auto`
        on_air:
          type: string
          description: >-
            The id of the job that should be used for streaming. To force failover, this must be a different job than the one that is currently `on_air`
    ActivateSepStreamResponse:
      properties:
        id:
          description: The job id for the stream that was activated
          type: string
          readOnly: true
      required:
        - id
      title: Activate_SEP_Stream_Response
      type: object
    playback_added_cdns:
      properties:
        label:
          description: A label to identify the CDN.
          type: string
        prepend:
          description: 'Typically, a domain or path to prepend to addresses'
          type: string
        protocol:
          description: Protocol to use in sending the stream to the CDN.
          type: string
      required:
        - label
        - prepend
        - protocol
      title: add_cdns
      type: object
    PlaybackToken:
      title: Create Playback Token Response
      description: An `ad_config_id` to use for playback
      type: object
      properties:
        playback_token:
          type: string
          example: 'live.TCaG-5GnlxmTFA8twsstmHqgET9npvC3nVtokT5nte...'
    AddAdMetadatabody:
      title: Add Ad Metadata Request body
      description: ->
        A set of key/value pairs for ad requests.
      type: object
      properties:
        ad_server_data:
          type: object
          description: >-
            Object containing a collection of keys and values. Values may be strings, numbers, or boolean.
          example: {
              "ad_server_data": {
                "one": "won",
                "two": 2,
                "three": false
              }
            }
    Application:
      properties:
        account_id:
          description: The Live account id
          type: string
        application_ad_configuration:
          $ref: '#/components/schemas/Application.applicationAdConfiguration'
        application_id:
          description: The ad application id
          type: string
        description:
          description: The ad application description
          type: string
      required:
        - account_id
        - description
        - application_ad_configuration
        - application_id
      title: application
      type: object
    Application.applicationAdConfiguration:
      properties:
        ad_configuration_description:
          description: The ad configuration description
          type: string
        ad_configuration_strategy:
          description: >-
            The ad configuration strategy (SingleAdResponse, or
            MultipleAdResponse)
          type: string
        ad_configuration_transforms:
          description: The ad configuration transforms
          items:
            $ref: >-
              #/components/schemas/Application.applicationAdConfiguration.adConfigurationTransforms
          type: array
        ad_configuration_url_format:
          description: The URL template for the ad server
          type: string
        ad_configuration_variables:
          description: Key/value pairs for the ad server URL template
          type: object
        headers:
          description: The ad configuration headers
          type: object
        response_type:
          description: 'The ad configuration response type (Dfp, Vast, or SmartXML)'
          type: string
      required:
        - ad_configuration_description
        - response_type
        - headers
        - ad_configuration_strategy
        - ad_configuration_transforms
        - ad_configuration_url_format
        - ad_configuration_variables
      title: application.application_ad_configuration
      type: object
    Application.applicationAdConfiguration.adConfigurationTransforms:
      properties:
        xpath:
          description: The ad configuration transform xpath
          type: string
        xslt:
          description: The ad configuration transform xslt
          type: string
      required:
        - xpath
        - xslt
      title: application.application_ad_configuration.ad_configuration_transforms
      type: object
    BeaconSet:
      properties:
        account_id:
          description: The Live account id
          type: string
        beacon_urls:
          description: Array of beacon URLs
          items:
            $ref: '#/components/schemas/BeaconSet.beaconUrls'
          type: array
      required:
        - beacon_urls
      title: beacon_set
      type: object
    BeaconSet.beaconUrls:
      properties:
        beacon_type:
          description: Beacon type
          type: string
        beacon_url:
          description: Beacon URL
          type: string
      required:
        - beacon_url
        - beacon_type
      title: beacon_set.beacon_urls
      type: object
    BeaconSets:
      items:
        $ref: '#/components/schemas/BeaconSet'
      required:
        - beacon_set_id
        - account_id
      title: beacon_sets
      type: array
    CancelLiveJob:
      properties:
        id:
          description: >-
            The job id for the stream that was cancelled. No unprocessed VOD jobs associated with the live job will be processed.
          type: string
          readOnly: true
      title: Cancel_Live_Job_Response
      type: object
    StopLiveJob:
      properties:
        id:
          description: >-
            The job id for the stream that was stopped. Any unprocessed VOD jobs associated with the live job will continue to be processed.
          type: string
          readOnly: true
      title: Cancel_Live_Job_Response
      type: object
    CreateAdConfigurationbody:
      properties:
        account_id:
          description: >-
            Your Live account id (if you leave this blank, the request will
            still work, defaulting to account of the current user)
          type: string
        application_ad_configuration:
          $ref: >-
            #/components/schemas/CreateAdConfigurationbody.applicationAdConfiguration
        application_description:
          description: Human readable description of the ad application.
          type: string
      required:
        - application_ad_configuration
        - application_description
      title: Create_Ad_ConfigurationBody
      type: object
    CreateAdConfigurationbody.applicationAdConfiguration:
      properties:
        ad_configuration_description:
          description: Human readable description of the configuration.
          type: string
        ad_configuration_expected_response_type:
          description: The expected response type based on your ad server
          type: string
        ad_configuration_headers:
          description: >-
            An optional JSON object that can contain zero or more
            key-value-pairs, for which both key and value must be strings.  All
            of the standard URL substitutions are valid for headers.
          type: object
        ad_configuration_headers_for_impressions:
          description: >-
            If true, this configuration will send headers on all ad requests and
            impressions; if false, headers will not be sent on impressions
            (quartiles/impressions that we fire for tracking from an ad
            response).
          type: boolean
        ad_configuration_url_format:
          description: >-
            Format for the ad tag - see SSAI Using the Brightcove Live API for
            the available ad configuration variables.
          type: string
        ad_configuration_strategy:
          description: Specifies whether ad breaks should include single or multiple ads
          type: string
        ad_configuration_transforms:
          description: Array of ad configuration transforms.
          items:
            $ref: >-
              #/components/schemas/CreateAdConfigurationbody.applicationAdConfiguration.adConfigurationTransforms
          type: array
      required:
        - ad_configuration_description
        - ad_configuration_expected_response_type
        - ad_configuration_url_format
        - ad_configuration_strategy
        - ad_configuration_transforms
      title: Create_Ad_ConfigurationBody.application_ad_configuration
      type: object
    CreateAdConfigurationbody.applicationAdConfiguration.adConfigurationTransforms:
      properties:
        xpath:
          description: xpath for the transform.
          type: string
        xslt:
          description: xslt stylesheet for the transform.
          type: string
      required:
        - xpath
        - xslt
      title: >-
        Create_Ad_ConfigurationBody.application_ad_configuration.ad_configuration_transforms
      type: object
    CreateBeaconSetResponse:
      properties:
        account_id:
          description: The Live account id
          type: string
        beacon_urls:
          description: Array of beacon URLs
          items:
            $ref: '#/components/schemas/BeaconSet.beaconUrls'
          type: array
        inserted:
          description: Whether the beacon set was successfully added
          type: boolean
      required:
        - beacon_urls
      title: beacon_set
      type: object
    CreateBeaconSetbody:
      properties:
        account_id:
          description: Live account id
          type: string
        beacon_urls:
          description: Array of beacon URLs
          items:
            $ref: '#/components/schemas/CreateBeaconSetbody.beaconUrls'
          type: array
      required:
        - beacon_urls
      title: Create_beacon_setBody
      type: object
    CreateBeaconSetbody.beaconUrls:
      properties:
        beacon_type:
          description: >-
            'The beacon type - see [Beacons](/live-api/ssai/live-api-cue-points-and-ad-beacons-ssai.html#Beacons) for the valid beacon types'
          type: string
        beacon_url:
          description: >-
            URL format for the beacon - see [Beacons](/live-api/ssai/live-api-cue-points-and-ad-beacons-ssai.html#Beacons) for the valid
            beacon variables
          type: string
      required:
        - beacon_url
        - beacon_type
      title: Create_beacon_setBody.beacon_urls
      type: object
    CreateCredential:
      properties:
        credential_id:
          description: The credential id
          type: string
        user_id:
          description: The user id
          type: string
      required:
        - credential_id
        - user_id
      title: Create_Credential_Response
      type: object
    CreateCredentialbody:
      properties:
        credential_default_for_type:
          description: Whether these are the default credentials for the request type
          type: boolean
          default: false
        credential_label:
          description: Label for the credential
          type: string
        credential_private:
          description: Private key or password depending on the type
          type: string
        credential_public:
          description: Public key or password depending on the type
          type: string
        credential_type:
          description: The credential type
          enum:
            - ftp
            - http
            - oauth
            - rtmp
            - s3
            - videocloud
            - zencoder
          type: string
        oauth_settings:
          $ref: '#/components/schemas/CreateCredentialbody.oauthSettings'
        user_id:
[...]
